<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songtian.mapper.TopicMapper">  <!--与接口的全路径名称一致-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.songtian.entity.Topic">
        <id column="tid" property="tid" />
        <result column="tname" property="tname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tid, tname
    </sql>

    <!--查询新闻类别 id的值与接口方法名称一致  resultType="com.songtian.entity.Topic"-->
    <select id="getTopicList" resultMap="BaseResultMap">
          select * from topic
    </select>

    <!--查询新闻类别 id的值与接口方法名称一致  resultType="com.songtian.entity.Topic"-->
    <select id="getTopicListByPage" resultMap="BaseResultMap">
          select * from topic
    </select>

</mapper>
